# Compiled Java #
*.class
bin/
out/


# Package Files #
*.war
*.ear
*.jar

# Except Library Package Files #
!lib/*.jar

# Ignore Project Files #
.idea/
*.iml
.settings/

# generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
