#java specific
*.class

# Package Files #
*.war
*.ear

bin/
out/

#netbeans ignore personal stuff 
nbproject/private/
.idea/
.idea/*
*.iml

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
